
body {
    background-color: #f7f3e9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glitch {
    position: relative;
    font-family: sans-serif;
    font-size: 7em;
    text-transform: uppercase;
    text-shadow: 6px -6px 0 #fd5f00;
    background: repeating-linear-gradient(45deg, #005792, #005792 1px, #fff 2px, #fff 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f7f3e9;
    color: #fd5f00;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden;
}

.glitch::before {
    left: 7px;
    text-shadow: 1px 0 #fd5f00;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}

.glitch::after {
    left: 3px;
    text-shadow: -1px 0 #fd5f00;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
    0% {
        clip: rect(22px, 9999px, 38px, 0);
    }
    5% {
        clip: rect(73px, 9999px, 12px, 0);
    }
    10% {
        clip: rect(93px, 9999px, 28px, 0);
    }
    15% {
        clip: rect(76px, 9999px, 82px, 0);
    }
    20% {
        clip: rect(7px, 9999px, 49px, 0);
    }
    25% {
        clip: rect(74px, 9999px, 82px, 0);
    }
    30% {
        clip: rect(17px, 9999px, 21px, 0);
    }
    35% {
        clip: rect(3px, 9999px, 8px, 0);
    }
    40% {
        clip: rect(98px, 9999px, 66px, 0);
    }
    45% {
        clip: rect(61px, 9999px, 97px, 0);
    }
    50% {
        clip: rect(61px, 9999px, 81px, 0);
    }
    55% {
        clip: rect(73px, 9999px, 72px, 0);
    }
    60% {
        clip: rect(7px, 9999px, 88px, 0);
    }
    65% {
        clip: rect(96px, 9999px, 15px, 0);
    }
    70% {
        clip: rect(63px, 9999px, 14px, 0);
    }
    75% {
        clip: rect(7px, 9999px, 70px, 0);
    }
    80% {
        clip: rect(8px, 9999px, 49px, 0);
    }
    85% {
        clip: rect(79px, 9999px, 62px, 0);
    }
    90% {
        clip: rect(98px, 9999px, 76px, 0);
    }
    95% {
        clip: rect(99px, 9999px, 96px, 0);
    }
    100% {
        clip: rect(99px, 9999px, 81px, 0);
    }
}
